.idea
*.iml
out
gen
.idea/workspace.xml  
.idea/dictionaries/myj.xml  
.idea/  
.DS_Store  
*.classpath  
*.project  
.settings  
.project  
.target  
.classpath  
**/.settings  
**/.classpath  
**/.eclipse  
**/target/**  
/target/  
bin/  
.svn  
*.iml
.class
*.factorypath
**/rebel.xml
**/.rebel.xml.bak
**/generatorConfig.xml
xxl-job-master
.gradle/
build